<%- include('partials/header.ejs') %>
<body>
    <h1>En esta pagina vamos a calificar los profesores de la uceva!</h1>
    <p><%= data[0].id %></p>
    <p><%= data[0].nombre %></p>
    <p><%= data[0].materia %></p>
    <p><%= data[0].calificacion %></p>
</body>
</html>